<div class="row animated fadeIn fast">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="input-group">
          <input #txtBuscar
                 (keyup)="buscar(txtBuscar.value)"
                 class="form-control"
                 placeholder="Buscar usuario..."
                 type="text">
          <div class="input-group-addon">
            <!-- <button (click)="limpiarBuscador()"> -->
            <i (click)="limpiarBuscador()"
               class="fa fa-remove text-danger cursor"></i>
            <!-- </button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Loading Modal -->
<div *ngIf="cargandoUsuarios"
     class="row animated fadeIn fast">
  <div class="col-12">
    <div class="alert alert-info text-center">
      <h4 class="alert-heading">Cargando</h4>
      <i class="fa fa-spin fa-refresh fa-2x"></i>
      <p class="mb-0">Por favor espere</p>
    </div>
  </div>
</div>

<!-- Data table -->
<div *ngIf="!cargandoUsuarios"
     class="row animated fadeIn fast">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Usuarios</h4>
        <h6 class="card-subtitle">
          Total de usuarios {{ totalUsuarios }}
        </h6>
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th class="w100">Avatar</th>
                <th>Correo</th>
                <th>Nombre</th>
                <th class="w140">Role</th>
                <th class="w100">Auth</th>
                <th class="text-nowrap w100">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let usuario of usuarios">
                <td class="text-center">
                  <img (click)="abrirModal(usuario)"
                       [src]="usuario.imagenUrl"
                       class="list-img-avatar cursor">
                </td>
                <td>{{ usuario.email }}</td>
                <td>{{ usuario.nombre }}</td>
                <td>
                  <select (change)="cambiarRol(usuario)"
                          [(ngModel)]="usuario.role"
                          class="form-control">
                    <option value="ADMIN_ROLE">Admin</option>
                    <option value="USER_ROLE">User</option>
                  </select>
                </td>
                <td>
                  <span *ngIf="usuario.google; else emailAuth"
                        class="label label-danger">
                    Google
                  </span>
                  <ng-template #emailAuth>
                    <span class="label label-info">Email</span>
                  </ng-template>
                </td>
                <td class="text-nowrap text-center">
                  <!-- <a (click)="actualizarUsuario(usuario)" -->
                  <!--    class="cursor" -->
                  <!--    data-original-title="Edit" -->
                  <!--    data-toggle="tooltip"> -->
                  <!--   <i class="fa fa-pencil text-inverse m-r-10"></i> -->
                  <!-- </a> -->
                  <a (click)="borrarUsuario(usuario)"
                     *ngIf="usuario.uid !== usuarioActualId"
                     class="cursor"
                     data-original-title="Close"
                     data-toggle="tooltip">
                    <i class="fa fa-close text-danger"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div *ngIf="mostrarBotones">
          <button (click)="cambiarPagina(-limit)"
                  class="btn btn-secondary">Anteriores
          </button>
          &nbsp;
          <button (click)="cambiarPagina(limit)"
                  class="btn btn-secondary">Siguientes
          </button>
        </div>
      </div>
    </div>
  </div>
</div>