<div class="row animated fadeIn fast">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="input-group">
          <input #txtBuscar
                 (keyup)="buscar(txtBuscar.value)"
                 class="form-control"
                 placeholder="Buscar medico..."
                 type="text">
          <div class="input-group-addon">
            <i (click)="limpiarBuscador()"
               class="fa fa-remove text-danger cursor"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Loading Modal -->
<div *ngIf="cargandoMedicos"
     class="row animated fadeIn fast">
  <div class="col-12">
    <div class="alert alert-info text-center">
      <h4 class="alert-heading">Cargando</h4>
      <i class="fa fa-spin fa-refresh fa-2x"></i>
      <p class="mb-0">Por favor espere</p>
    </div>
  </div>
</div>

<!-- Data table -->
<div *ngIf="!cargandoMedicos"
     class="row animated fadeIn fast">
  <div class="col-12">
    <div class="card">
      <div class="card-body">

        <div class="row">
          <div class="col-8">
            <h4 class="card-title">Medicos ({{ totalMedicos }})</h4>
            <h6 class="card-subtitle">
              Medicos registrados en la aplicación
            </h6>
          </div>
          <div class="col">
            <div class="text-right">
              <a [routerLink]="['/dashboard/medico/nuevo']"
                 class="btn btn-primary">
                <i class="fa fa-hospital-o"></i>
                Crear Medico
              </a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th class="w100">Foto</th>
                <th>Nombre</th>
                <th>Hospital</th>
                <th class="text-nowrap w100">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let medico of medicos">
                <td class="text-center">
                  <img (click)="abrirModal(medico)"
                       [alt]="medico.nombre"
                       [src]="medico.img | imagen:'medicos'"
                       class="list-img-avatar cursor">
                </td>
                <td>{{ medico.nombre }}</td>
                <td>{{ medico.hospital?.nombre }}</td>
                <td class="text-nowrap text-center">
                  <a [routerLink]="['/dashboard/medico', medico._id]"
                     class="cursor"
                     data-original-title="Guardar cambios"
                     data-toggle="tooltip">
                    <i class="fa fa-pencil text-inverse m-r-10"></i>
                  </a>
                  <a (click)="borrarMedico(medico)"
                     class="cursor"
                     data-original-title="Close"
                     data-toggle="tooltip">
                    <i class="fa fa-close text-danger"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div *ngIf="mostrarBotones">
          <button (click)="cambiarPagina(-limit)"
                  class="btn btn-secondary">Anteriores
          </button>
          &nbsp;
          <button (click)="cambiarPagina(limit)"
                  class="btn btn-secondary">Siguientes
          </button>
        </div>
      </div>
    </div>
  </div>
</div>